<template>
    <div class="container mx-auto">
        <div class="fixed w-full h-full top-0 left-0 flex items-start justify-center z-10 transition" :class="(showAll == true) ? 'opacity-100 pointer-events-auto' : 'opacity-0 pointer-events-none'">
            <div class="absolute w-full h-full bg-black opacity-75 z-10" @click="showAll = false"></div>
            <div :class="(dark) ? 'bg-widgetbgDark' : 'bg-white'"  class="w-11/12 md:w-1/2 mx-auto rounded shadow-lg mt-6 z-50 overflow-y-auto">
                <div class="modal-content relative z-20">
                    <div class="flex justify-between items-center p-4 border-b" :class="(dark) ? 'bg-widgetheaderDark border-widgetheaderDark' : 'border-bodyLight bg-white'">
                        <div @click="showAll = false" class="cursor-pointer z-50" :class="(dark) ? 'text-white' : 'text-black'" >
                            <svg class="fill-current inline-block" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                                <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
                            </svg> {{ $t('infos.close') }}
                        </div>
                    </div>
                    <Bio :item='infosDataItem' :dark="dark"/>
                </div>
            </div>
        </div>
        <div class="min-h-screen m-4 lg:mt-24 lg:mr-8">
            <h3 class="font-bold text-2xl mb-8 mx-4" :class="(dark) ? 'text-white' : 'text-black'">{{ $t('about.ourteam.title') }}</h3>
            <div class="flex flex-col lg:flex-row flex-wrap">
                <div class="w-full lg:w-1/4" v-for="(item, i) in ourteam" :key="i">
                    <div class="m-4 shad cursor-pointer rounded-lg" @click="showModal(item)">
                        <div class="content rounded-t-lg" :class="(dark) ? 'bg-widgetbgDark' : 'bg-white'">
                            <img class="w-full imgfit h-56 rounded-t-lg black" :src="item.img" :alt="item.name" >
                        </div>
                        <div class="footer transition p-4 rounded-b-lg " :class="(dark) ? 'bg-widgetheaderDark hover:bg-medredDark text-white' : 'bg-bodyLight hover:bg-dpurpleLight hover:text-white'">
                            <h4 class="text-xl">{{item.name}}</h4>
                        </div>
                    </div>
                </div>
            </div>
            <h3 class="font-bold text-2xl my-8 mx-4" :class="(dark) ? 'text-white' : 'text-black'">{{ $t('about.partners.title') }}</h3>
            <div class="flex flex-col lg:flex-row flex-wrap">
                <a target="_blank" href="https://www.1337.ma/" class="w-full lg:w-1/4 flex justify-center items-center">
                    <div class="mx-8 h-full" v-if="dark">
                        <svg class="w-full h-full" viewBox="0 0 663 178" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M27.3088 175.848C27.3088 166.281 27.3088 153.981 27.3088 153.981H54.6176V88.5163V21.8671H36.4118C19.1162 21.8671 18.2059 21.8671 18.2059 21.8671C18.2059 28.5292 18.2059 47.7341 18.2059 47.7341H3.65063e-05C3.65063e-05 47.7341 0 46.012 0 24.1449V0L37.7772 8.66409e-06H75.0466V77.0614V153.981H102.408C102.408 153.981 102.408 169.47 102.408 175.848H64.3915H27.3088Z" fill="white"/>
                            <path d="M183.6 170.237L183.6 154.288H266.08V125.498V97.3265L190.891 96.0622C190.891 96.0622 190.891 93.681 190.891 85.9343C190.891 78.1876 190.891 75.9092 190.891 75.9092H268.814V48.452V22.5936H184.056C184.056 22.5936 184.056 18.9481 184.056 10.7457C184.056 2.08765 184.056 1.63196 184.056 1.63196H288.864V89.7405V177.072H183.6L183.6 170.237Z" fill="white"/>
                            <path d="M370.056 165.689C370.056 154.306 370.056 154.306 370.056 154.306H452.489V124.71V95.1144L374.636 95.1144C374.636 95.1144 374.636 94.2038 374.636 86.0081C374.636 77.8123 374.636 76.9017 374.636 76.9017H452.489V49.3981V22.2633H411.272C370.056 22.2633 370.427 22.2633 370.427 22.2633V0.407959L421.806 0.407968H472.872V89.6269V177.072H422.721H370.056V165.689Z" fill="white"/>
                            <path d="M640.305 99.6042V23.1618H606.263H572.22V64.1187C572.22 64.1187 570.858 64.1187 563.142 64.1187C554.972 64.1187 554.064 64.1187 554.064 64.1187V0.407959H608.532H663V89.148V177.888H651.128H640.305V99.6042Z" fill="white"/>
                        </svg>
                    </div>
                    <div class="mx-8 h-full" v-else>
                        <svg class="w-full h-full" viewBox="0 0 663 178" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M27.3088 175.848C27.3088 166.281 27.3088 153.981 27.3088 153.981H54.6176V88.5163V21.8671H36.4118C19.1162 21.8671 18.2059 21.8671 18.2059 21.8671C18.2059 28.5292 18.2059 47.7341 18.2059 47.7341H3.65063e-05C3.65063e-05 47.7341 0 46.012 0 24.1449V0L37.7772 8.66409e-06H75.0466V77.0614V153.981H102.408C102.408 153.981 102.408 169.47 102.408 175.848H64.3915H27.3088Z" fill="black"/>
                            <path d="M183.6 170.237L183.6 154.288H266.08V125.498V97.3265L190.891 96.0622C190.891 96.0622 190.891 93.681 190.891 85.9343C190.891 78.1876 190.891 75.9092 190.891 75.9092H268.814V48.452V22.5936H184.056C184.056 22.5936 184.056 18.9481 184.056 10.7457C184.056 2.08765 184.056 1.63196 184.056 1.63196H288.864V89.7405V177.072H183.6L183.6 170.237Z" fill="black"/>
                            <path d="M370.056 165.689C370.056 154.306 370.056 154.306 370.056 154.306H452.489V124.71V95.1144L374.636 95.1144C374.636 95.1144 374.636 94.2038 374.636 86.0081C374.636 77.8123 374.636 76.9017 374.636 76.9017H452.489V49.3981V22.2633H411.272C370.056 22.2633 370.427 22.2633 370.427 22.2633V0.407959L421.806 0.407968H472.872V89.6269V177.072H422.721H370.056V165.689Z" fill="black"/>
                            <path d="M640.305 99.6042V23.1618H606.263H572.22V64.1187C572.22 64.1187 570.858 64.1187 563.142 64.1187C554.972 64.1187 554.064 64.1187 554.064 64.1187V0.407959H608.532H663V89.148V177.888H651.128H640.305V99.6042Z" fill="black"/>
                        </svg>
                    </div>
                </a>
                <a target="_blank" href="http://www.2m.ma/" class="w-full lg:w-1/4">
                    <div class="mt-12 lg:mt-0 mx-8">
                        <img class="w-full h-full" src="../assets/2m.png" alt="2m">
                    </div>
                </a>
            </div>
        </div>
    </div>
</template>

<script>
import Bio from '@/components/Bio.vue'
export default {
    name: 'AboutUs',
    data() {
        return {
            ourteam: [
                {img: 'https://firebasestorage.googleapis.com/v0/b/download-63463.appspot.com/o/reversable.jpg?alt=media&token=2d63e590-784a-42f8-b50f-0b46480beab2', name: this.$i18n.t('about.ourteam.team.reversable.name'), bio: this.$i18n.t('about.ourteam.team.reversable.bio')},
                {img: 'https://firebasestorage.googleapis.com/v0/b/download-63463.appspot.com/o/escanor.jpg?alt=media&token=ec4d16fd-ea9e-4bbc-a703-16ce2510bf93', name: this.$i18n.t('about.ourteam.team.escanor.name'), bio: this.$i18n.t('about.ourteam.team.escanor.bio')},
                {img: 'https://firebasestorage.googleapis.com/v0/b/download-63463.appspot.com/o/badr.jpg?alt=media&token=24590d3e-ec20-4103-ba61-9bf1867ce6fa', name: this.$i18n.t('about.ourteam.team.kuma.name'), bio: this.$i18n.t('about.ourteam.team.kuma.bio')},
                {img: 'https://firebasestorage.googleapis.com/v0/b/download-63463.appspot.com/o/nabz.jpg?alt=media&token=e2fa63ba-46c4-4c51-94d2-587404d84aed', name: this.$i18n.t('about.ourteam.team.nabz.name'), bio: this.$i18n.t('about.ourteam.team.nabz.bio')}
            ],
            infosDataItem: {
                name: '',
                bio: '',
                img: ''
            },
            showAll: false
        }
    },
    components:{
        Bio
    },
    computed: {
        dark () {
            return this.$store.state.dark
        }
    },
    methods: {
        showModal(item) {
            this.infosDataItem = item
            this.showAll = true
        }
    },
}
</script>