<template>
  <div class="container mx-auto">
    <div class="min-h-screen m-4 lg:mt-16 lg:mx-16">
      <!-- Gov -->
      <h2 class="text-3xl font-bold mb-12 pb-4 border-b" :class="(dark) ? 'border-medredDark text-medredDark' : 'border-sideLight text-sideLight'">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="25px" class="fill-current inline-block" x="0px" y="0px" viewBox="0 0 100 125" style="enable-background:new 0 0 100 100;" xml:space="preserve"><path d="M84.1,80.9v-5.9h-5.9V37.3h5.9v-8.4h-4.8L50,10.5L20.7,28.9h-4.8v8.4h5.9v37.7h-5.9v5.9h-5.7v8.4h79.5v-8.4H84.1z   M75.7,74.9h-6.2V37.3h6.2V74.9z M44,74.9h-11V37.3h11V74.9z M46.5,37.3h6.2v37.7h-6.2V37.3z M55.1,37.3h11.9v37.7H55.1V37.3z   M50,13.4l24.6,15.4H25.4L50,13.4z M18.4,34.8v-3.4h63.2v3.4h-3.4H67.1H55.1H44h-11H21.8H18.4z M24.3,37.3h6.2v37.7h-6.2V37.3z   M18.4,77.4h3.4h11.2h11h11.2h11.9h11.2h3.4v3.4H18.4V77.4z M87.2,86.8H12.8v-3.4h3.2h68.2h3.2V86.8z"/></svg>
        {{ $t('links.gov.title') }}
        </h2>
      <div class="flex flex-col lg:flex-row flex-wrap">
        <div v-for="(item, i) in gov" :key="i" class="w-full lg:w-1/3">
          <div class="shadow text-center mx-2 my-4 rounded-lg transition" :class="(dark) ? 'bg-widgetbgDark hover:bg-medredDark text-white' : 'bg-white hover:bg-dpurpleLight hover:text-white'">
            <a class="block p-4" target="_blank" :href="item.link"><h2 class="text-xl">{{item.title}}</h2></a>
          </div>
        </div>
      </div>
      <!-- News -->
      <h2 class="text-3xl font-bold mb-12 pb-4 border-b mt-12" :class="(dark) ? 'border-medredDark text-medredDark' : 'border-sideLight text-sideLight'">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="25px" class="fill-current inline-block" x="0px" y="0px" viewBox="0 0 56 70" style="enable-background:new 0 0 56 56;" xml:space="preserve"><path d="M38.8979492,10.9750977h-2.9942017C35.4102173,7.0489502,32.0578003,4,28,4s-7.4102173,3.0489502-7.9037476,6.9750977  h-2.9883423c-0.5522461,0-1,0.4477539-1,1v4.8256836L4.8681641,23.4077148C4.5625,23.5874023,4.375,23.9155273,4.375,24.2700195V51  c0,0.5522461,0.4477539,1,1,1h11.7290039c0.0042725,0,0.0078125-0.0023804,0.012085-0.0024414h5.3962402  C22.5166016,51.9976196,22.5201416,52,22.5244141,52h11.9511719c0.0042725,0,0.0078125-0.0023804,0.012085-0.0024414h4.3962402  C38.8881836,51.9976196,38.8917236,52,38.8959961,52H50.625c0.5522461,0,1-0.4477539,1-1V24.2700195  c0-0.3544922-0.1875-0.6826172-0.4931641-0.8623047l-11.2338867-6.6035156v-4.8291016  C39.8979492,11.4228516,39.4501953,10.9750977,38.8979492,10.9750977z M28,6c3.293457,0,5.9731445,2.6796875,5.9731445,5.9731445  c0,3.2939453-2.6796875,5.9736328-5.9731445,5.9736328c-3.291626,0-5.9699097-2.6768188-5.9728394-5.9682007  c0-0.0012207,0.0006714-0.0022583,0.0006714-0.003479c0-0.0015259-0.0008545-0.0027466-0.0008545-0.0042725  C22.0281982,8.6785278,24.7073364,6,28,6z M16.1040039,50H6.375V24.8422852l9.7290039-5.7192383V50z M18.1079102,12.9750977  h1.9889526C20.5921631,16.899353,23.9436035,19.9467773,28,19.9467773s7.4078369-3.0474243,7.9031372-6.9716797h1.994812v4.3856812  c-0.000061,0.0050049-0.0019531,0.0097046-0.0019531,0.0147095v32.6220703h-2.4204102V37.8007813c0-0.5522461-0.4477539-1-1-1  H22.5244141c-0.5522461,0-1,0.4477539-1,1v12.1967773h-3.4165039V12.9750977z M23.5244141,49.9975586V38.8007813H27v11.1967773  H23.5244141z M29,49.9975586V38.8007813h4.4755859v11.1967773H29z M49.625,24.8422852V50h-9.7270508V19.1242065L49.625,24.8422852z"/><path d="M9.1401367,28.0698242h4.1987305c0.5522461,0,1-0.4477539,1-1s-0.4477539-1-1-1H9.1401367c-0.5522461,0-1,0.4477539-1,1  S8.5878906,28.0698242,9.1401367,28.0698242z"/><path d="M9.1401367,33.0463867h4.1987305c0.5522461,0,1-0.4477539,1-1s-0.4477539-1-1-1H9.1401367c-0.5522461,0-1,0.4477539-1,1  S8.5878906,33.0463867,9.1401367,33.0463867z"/><path d="M9.1401367,38.0229492h4.1987305c0.5522461,0,1-0.4477539,1-1s-0.4477539-1-1-1H9.1401367c-0.5522461,0-1,0.4477539-1,1  S8.5878906,38.0229492,9.1401367,38.0229492z"/><path d="M9.1401367,42.9995117h4.1987305c0.5522461,0,1-0.4477539,1-1s-0.4477539-1-1-1H9.1401367c-0.5522461,0-1,0.4477539-1,1  S8.5878906,42.9995117,9.1401367,42.9995117z"/><path d="M9.1401367,47.9765625h4.1987305c0.5522461,0,1-0.4477539,1-1s-0.4477539-1-1-1H9.1401367c-0.5522461,0-1,0.4477539-1,1  S8.5878906,47.9765625,9.1401367,47.9765625z"/><path d="M42.6611328,28.0698242h4.1987305c0.5522461,0,1-0.4477539,1-1s-0.4477539-1-1-1h-4.1987305c-0.5522461,0-1,0.4477539-1,1  S42.1088867,28.0698242,42.6611328,28.0698242z"/><path d="M42.6611328,33.0463867h4.1987305c0.5522461,0,1-0.4477539,1-1s-0.4477539-1-1-1h-4.1987305c-0.5522461,0-1,0.4477539-1,1  S42.1088867,33.0463867,42.6611328,33.0463867z"/><path d="M42.6611328,38.0229492h4.1987305c0.5522461,0,1-0.4477539,1-1s-0.4477539-1-1-1h-4.1987305c-0.5522461,0-1,0.4477539-1,1  S42.1088867,38.0229492,42.6611328,38.0229492z"/><path d="M42.6611328,42.9995117h4.1987305c0.5522461,0,1-0.4477539,1-1s-0.4477539-1-1-1h-4.1987305c-0.5522461,0-1,0.4477539-1,1  S42.1088867,42.9995117,42.6611328,42.9995117z"/><path d="M46.8598633,45.9765625h-4.1987305c-0.5522461,0-1,0.4477539-1,1s0.4477539,1,1,1h4.1987305c0.5522461,0,1-0.4477539,1-1  S47.4121094,45.9765625,46.8598633,45.9765625z"/><path d="M21.5239258,24.8520508h2.2929688c0.5522461,0,1-0.4477539,1-1s-0.4477539-1-1-1h-2.2929688c-0.5522461,0-1,0.4477539-1,1  S20.9716797,24.8520508,21.5239258,24.8520508z"/><path d="M26.8564453,24.8520508h2.2929688c0.5522461,0,1-0.4477539,1-1s-0.4477539-1-1-1h-2.2929688c-0.5522461,0-1,0.4477539-1,1  S26.3041992,24.8520508,26.8564453,24.8520508z"/><path d="M32.1889648,24.8520508h2.2929688c0.5522461,0,1-0.4477539,1-1s-0.4477539-1-1-1h-2.2929688c-0.5522461,0-1,0.4477539-1,1  S31.6367188,24.8520508,32.1889648,24.8520508z"/><path d="M23.8168945,29.237793c0.5522461,0,1-0.4477539,1-1s-0.4477539-1-1-1h-2.2929688c-0.5522461,0-1,0.4477539-1,1  s0.4477539,1,1,1H23.8168945z"/><path d="M26.8564453,29.237793h2.2929688c0.5522461,0,1-0.4477539,1-1s-0.4477539-1-1-1h-2.2929688c-0.5522461,0-1,0.4477539-1,1  S26.3041992,29.237793,26.8564453,29.237793z"/><path d="M32.1889648,29.237793h2.2929688c0.5522461,0,1-0.4477539,1-1s-0.4477539-1-1-1h-2.2929688c-0.5522461,0-1,0.4477539-1,1  S31.6367188,29.237793,32.1889648,29.237793z"/><path d="M25.2851563,12.9731445H27v1.715332c0,0.5522461,0.4477539,1,1,1s1-0.4477539,1-1v-1.715332h1.7148438  c0.5522461,0,1-0.4477539,1-1s-0.4477539-1-1-1H29V9.2583008c0-0.5522461-0.4477539-1-1-1s-1,0.4477539-1,1v1.7148438h-1.7148438  c-0.5522461,0-1,0.4477539-1,1S24.7329102,12.9731445,25.2851563,12.9731445z"/></svg>
        {{ $t('links.health.title') }}
      </h2>
      <div class="flex flex-col lg:flex-row flex-wrap">
        <div v-for="(item, i) in health" :key="i" class="w-full lg:w-1/3">
          <div class="shadow text-center mx-2 my-4 rounded-lg transition" :class="(dark) ? 'bg-widgetbgDark hover:bg-medredDark text-white' : 'bg-white hover:bg-dpurpleLight hover:text-white'">
            <a class="block p-4" target="_blank" :href="item.link"><h2 class="text-xl">{{item.title}}</h2></a>
          </div>
        </div>
      </div>
      <!-- Learn -->
      <h2 class="text-3xl font-bold mb-12 pb-4 border-b mt-12" :class="(dark) ? 'border-medredDark text-medredDark' : 'border-sideLight text-sideLight'">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="25px" class="inline-block fill-current" x="0px" y="0px" viewBox="0 0 512 640" enable-background="new 0 0 512 512" xml:space="preserve"><g><path d="M501.324,32.004H10.677c-5.891,0-10.672,4.773-10.672,10.664v341.33c0,5.891,4.781,10.656,10.672,10.656h177.028   l-12.781,63.998h-4.25c-5.891,0-10.672,4.781-10.672,10.688c0,5.875,4.781,10.656,10.672,10.656h170.652   c5.891,0,10.672-4.781,10.672-10.656c0-5.906-4.781-10.688-10.672-10.688h-4.266l-12.78-63.998h177.044   c5.891,0,10.671-4.766,10.671-10.656V42.668C511.995,36.777,507.215,32.004,501.324,32.004z M196.673,458.652l12.765-63.904   l93.093-0.031l12.78,63.936H196.673z M490.668,53.339v277.315H21.333V53.339H490.668z M256,373.342H21.333v-21.344H256h234.668   v21.344H256z"/><path d="M266.672,362.654c0-5.875-4.781-10.656-10.672-10.656c-5.89,0-10.671,4.781-10.671,10.656   c0,5.906,4.781,10.688,10.671,10.688C261.891,373.342,266.672,368.561,266.672,362.654z"/><path d="M82.191,170.181l66.905,20.906v75.577c0,4.266,2.531,8.117,6.453,9.805C156.643,276.938,183.158,288,256.016,288   c72.858,0,99.186-11.078,100.279-11.547c3.891-1.703,6.406-5.539,6.406-9.789v-75.491l53.343-16.664v38.827   c0,5.891,4.766,10.664,10.656,10.664c5.89,0,10.671-4.773,10.671-10.664v-53.335c0-0.336-0.016-0.664-0.047-0.992   c-0.016-0.109-0.031-0.219-0.047-0.336c-0.016-0.211-0.047-0.422-0.094-0.625c-0.016-0.133-0.047-0.258-0.078-0.391   c-0.047-0.188-0.094-0.375-0.141-0.562c-0.031-0.125-0.078-0.25-0.109-0.375c-0.078-0.227-0.156-0.445-0.25-0.672   c-0.047-0.133-0.109-0.266-0.172-0.398c-0.094-0.219-0.188-0.422-0.297-0.633c-0.062-0.109-0.125-0.219-0.188-0.328   c-0.094-0.164-0.203-0.336-0.297-0.492c-0.078-0.109-0.141-0.211-0.219-0.312c-0.109-0.164-0.234-0.328-0.359-0.492   c-0.078-0.086-0.141-0.172-0.203-0.25c-0.172-0.211-0.359-0.406-0.547-0.601c-0.031-0.031-0.062-0.062-0.094-0.094   c-0.219-0.227-0.453-0.438-0.703-0.641c-0.062-0.055-0.125-0.102-0.188-0.156c-0.188-0.141-0.375-0.281-0.562-0.406   c-0.094-0.07-0.188-0.133-0.281-0.195c-0.171-0.109-0.343-0.211-0.515-0.305c-0.109-0.07-0.234-0.133-0.344-0.195   c-0.156-0.086-0.328-0.164-0.5-0.242c-0.125-0.055-0.25-0.117-0.375-0.172c-0.188-0.078-0.391-0.141-0.578-0.211   c-0.125-0.039-0.234-0.086-0.359-0.125L259.219,96.487c-2.062-0.648-4.281-0.648-6.359,0L82.191,149.822   c-4.438,1.391-7.484,5.515-7.484,10.179S77.753,168.791,82.191,170.181z M341.373,258.906c-13.155,3.43-41.154,7.758-85.357,7.758   c-44.265,0-72.358-4.336-85.576-7.773v-61.132l82.42,25.757c1.031,0.32,2.109,0.484,3.187,0.484c1.062,0,2.141-0.164,3.172-0.484   l82.154-25.671V258.906z M256.047,117.846l100.764,31.492H255.906c-5.89,0-10.671,4.773-10.671,10.664s4.781,10.664,10.671,10.664   h100.904l-100.764,31.492l-134.903-42.156L256.047,117.846z"/></g></svg>
        {{ $t('links.edu.title') }}
      </h2>
      <div class="flex flex-col lg:flex-row flex-wrap">
        <div v-for="(item, i) in edu" :key="i" class="w-full lg:w-1/3">
          <div class="shadow text-center mx-2 my-4 rounded-lg transition" :class="(dark) ? 'bg-widgetbgDark hover:bg-medredDark text-white' : 'bg-white hover:bg-dpurpleLight hover:text-white'">
            <a class="block p-4" target="_blank" :href="item.link"><h2 class="text-xl">{{item.title}}</h2></a>
          </div>
        </div>
      </div>
      <!-- Education -->
      <h2 class="text-3xl font-bold mb-12 pb-4 border-b mt-12" :class="(dark) ? 'border-medredDark text-medredDark' : 'border-sideLight text-sideLight'">
        <svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 100 125" width="25px" class="inline-block fill-current" x="0px" y="0px"><path d="M84.47,28.11a2,2,0,0,1-2,2H38.67a2,2,0,0,1,0-4h43.8A2,2,0,0,1,84.47,28.11ZM38.67,41H51.85a2,2,0,0,0,0-4H38.67a2,2,0,0,0,0,4Zm0,10.86H51.85a2,2,0,0,0,0-4H38.67a2,2,0,0,0,0,4Zm0,10.86H51.85a2,2,0,0,0,0-4H38.67a2,2,0,0,0,0,4Zm43.8,6.86H38.67a2,2,0,0,0,0,4h43.8a2,2,0,0,0,0-4Zm2-30.59V60.7a2,2,0,0,1-2,2H63a2,2,0,0,1-2-2V39a2,2,0,0,1,2-2H82.47A2,2,0,0,1,84.47,39Zm-4,2H65V58.7H80.47ZM2.18,74.75v-39a2,2,0,0,1,4,0v39a8.57,8.57,0,0,0,17.13,0V14.68a2,2,0,0,1,2-2h70.5a2,2,0,0,1,2,2V76.53A10.78,10.78,0,0,1,87,87.32H14.75A12.58,12.58,0,0,1,2.18,74.75Zm21.75,8.57H87a6.78,6.78,0,0,0,6.78-6.78V16.68H27.32V74.75A12.52,12.52,0,0,1,23.94,83.32ZM12.75,36.17V74.72a2,2,0,0,0,4,0V36.17a2,2,0,0,0-4,0Z"/></svg>
        {{ $t('links.news.title') }}
      </h2>
      <div class="flex flex-col lg:flex-row flex-wrap">
        <div v-for="(item, i) in news" :key="i" class="w-full lg:w-1/3">
          <div class="shadow text-center mx-2 my-4 rounded-lg transition" :class="(dark) ? 'bg-widgetbgDark hover:bg-medredDark text-white' : 'bg-white hover:bg-dpurpleLight hover:text-white'">
            <a class="block p-4" target="_blank" :href="item.link"><h2 class="text-xl">{{item.title}}</h2></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Links',
  computed: {
    dark () {
      return this.$store.state.dark
    }
  },
  data() {
    return {
      gov: [
          {title: this.$i18n.t('links.gov.corgov'), link: 'http://covid19.interieur.gov.ma/'},
          {title: this.$i18n.t('links.gov.mingov'), link: 'https://www.cg.gov.ma/'},
          {title: this.$i18n.t('links.gov.heagov'), link: 'https://www.sante.gov.ma/sites/Ar/Pages/AccueilAr.aspx'},
      ],
      health: [
        {title:  this.$i18n.t('links.health.corgat'), link: 'http://www.covidmaroc.ma/'},
        {title: this.$i18n.t('links.health.sehati'), link: 'https://sehati.gov.ma/'},
        {title: this.$i18n.t('links.gov.heagov'), link: 'https://www.sante.gov.ma/Pages/Accueil.aspx'},
        {title: 'Hayat Santé', link: 'https://hayatsante.ma/'},
        {title: this.$i18n.t('links.health.conan'), link: 'https://www.who.int/ar/emergencies/diseases/novel-coronavirus-2019'},
      ],
      edu: [
        {title: this.$i18n.t('links.edu.tice'), link: 'https://telmidtice.men.gov.ma/'},
        {title: '9rayti', link: 'https://www.9rayti.com/'},
        {title: 'AlloSchool', link: 'https://www.alloschool.com/'},
      ],
      news: [
        {title: '2M', link: 'https://www.2m.ma/ar/news/'},
        {title: 'MAP ANTI CORONA', link: 'http://mapanticorona.map.ma/ar'},
        {title: this.$i18n.t('links.news.gate'), link: 'http://www.maroc.ma/'}
      ]
    }
  },
}
</script>