<template>
    <div class="sidenav h-full">
        <ul class="flex flex-col mt-8">
            <li v-for="(item, index) in topNavbar" :key="index">
                <div @click="setActive(item.route, index)"
                    class="cursor-pointer mb-8 p-4 text-xl"
                    :class="[($route.name == item.title) ? 'active' : '', (dark && $route.name == item.title) ? 'bg-bodyDark' : 'text-white', (!dark && $route.name == item.title) ? 'text-sideLight bg-bodyLight' : 'text-white', ($i18n.locale == 'ar' ? 'lg:rounded-r-xl text-right' : 'lg:rounded-l-xl text-left')]"
                >
                    <span :class="($i18n.locale == 'ar') ? 'ml-4' : 'mr-4'" v-html="item.svg"></span>
                    <span v-text="item.name"></span>
                </div>
            </li>
        </ul>
        <ul class="flex flex-col text-center">
            <li v-for="(item, index) in bottomNavbar" :key="index">
                <div @click="setActive(item.route, index)"
                    class="cursor-pointer mb-8 p-4 text-xl"
                    :class="[($route.name == item.title) ? 'active' : '', (dark && $route.name == item.title) ? 'bg-bodyDark' : 'text-white', (!dark && $route.name == item.title) ? 'text-sideLight bg-bodyLight' : 'text-white', ($i18n.locale == 'ar' ? 'lg:rounded-r-xl text-right' : 'lg:rounded-l-xl text-left')]"
                >
                    <span :class="($i18n.locale == 'ar') ? 'ml-4' : 'mr-4'" v-html="item.svg"></span>
                    <span v-text="item.name"></span>
                </div>
            </li>
        </ul>
    </div>
</template>

<script>
export default {
    name: "MobileSidenav",
    props: {
        dark: {
            type: Boolean
        },
    },
    data() {
        return {
            topNavbar: [
                {name: this.$i18n.t('mobilenav.home'), title: "Home", route: "/", svg: '<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 512 512" class="stroke-current inline-block"><path d="M80,212V448a16,16,0,0,0,16,16h96V328a24,24,0,0,1,24-24h80a24,24,0,0,1,24,24V464h96a16,16,0,0,0,16-16V212" style="fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/><path d="M480,256,266.89,52c-5-5.28-16.69-5.34-21.78,0L32,256" style="fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/></svg>'},
                {name: this.$i18n.t('mobilenav.stats'), title: "Stats", route: "/stats", svg: '<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 512 512" class="stroke-current inline-block"><rect x="64" y="320" width="48" height="160" rx="8" ry="8" style="fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/><rect x="288" y="224" width="48" height="256" rx="8" ry="8" style="fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/><rect x="400" y="112" width="48" height="368" rx="8" ry="8" style="fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/><rect x="176" y="32" width="48" height="448" rx="8" ry="8" style="fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/></svg>'},
                {name: this.$i18n.t('mobilenav.infos'), title: "News", route: "/news", svg: '<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 512 512" class="stroke-current fill-current inline-block"><path d="M368,415.86V72a24.07,24.07,0,0,0-24-24H72A24.07,24.07,0,0,0,48,72V424a40.12,40.12,0,0,0,40,40H416" style="fill:none;stroke-linejoin:round;stroke-width:32px"/><path d="M416,464h0a48,48,0,0,1-48-48V128h72a24,24,0,0,1,24,24V416A48,48,0,0,1,416,464Z" style="fill:none;stroke-linejoin:round;stroke-width:32px"/><line x1="240" y1="128" x2="304" y2="128" style="fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/><line x1="240" y1="192" x2="304" y2="192" style="fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/><line x1="112" y1="256" x2="304" y2="256" style="fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/><line x1="112" y1="320" x2="304" y2="320" style="fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/><line x1="112" y1="384" x2="304" y2="384" style="fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/><path d="M176,208H112a16,16,0,0,1-16-16V128a16,16,0,0,1,16-16h64a16,16,0,0,1,16,16v64A16,16,0,0,1,176,208Z"/></svg>'},
            ],
            bottomNavbar: [
                {name: this.$i18n.t('mobilenav.virus'), title: "Infos", route: "/infos", svg: '<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 512 512" class="stroke-current fill-current inline-block"><path d="M160,164s1.44-33,33.54-59.46C212.6,88.83,235.49,84.28,256,84c18.73-.23,35.47,2.94,45.48,7.82C318.59,100.2,352,120.6,352,164c0,45.67-29.18,66.37-62.35,89.18S248,298.36,248,324" style="fill:none;stroke-linecap:round;stroke-miterlimit:10;stroke-width:40px"/><circle cx="248" cy="399.99" r="32"/></svg>'},
                {name: this.$i18n.t('mobilenav.links'), title: "Links", route: "/links", svg: '<svg width="25" height="25" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg" class="stroke-current inline-block"><g clip-path="url(#clip0)"><path d="M25.1213 29.3639L22.2929 32.1923C21.1676 33.3176 19.6415 33.9497 18.0502 33.9497C16.4589 33.9497 14.9328 33.3176 13.8076 32.1923C12.6824 31.0671 12.0502 29.541 12.0502 27.9497C12.0502 26.3584 12.6824 24.8323 13.8076 23.7071L16.636 20.8786" stroke="current" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M20.8787 16.636L23.7071 13.8076C24.8323 12.6823 26.3584 12.0502 27.9497 12.0502C29.541 12.0502 31.0672 12.6823 32.1924 13.8076C33.3176 14.9328 33.9497 16.4589 33.9497 18.0502C33.9497 19.6415 33.3176 21.1676 32.1924 22.2928L29.3639 25.1213" stroke="current" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M18.9027 27.0973L27.1856 18.8144" stroke="current" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></g><defs><clipPath id="clip0"><rect x="0.372559" y="23" width="32" height="32" transform="rotate(-45 0.372559 23)" fill="current"/></clipPath></defs></svg>'},
                {name: this.$i18n.t('mobilenav.about'), title: "About", route: "/about", svg:'<svg viewBox="0 0 24 24" width="35" height="35" class="stroke-current inline-block" stroke-width="1" fill="none" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12.01" y2="8"></line></svg>'},
            ],
        }
    },
    methods: {
        setActive(route, index) {
            let lang = (this.$i18n.locale === 'en') ? 'en' : (this.$i18n.locale === 'fr') ? 'fr' : 'ar'
            this.$emit('updateShowSide', false)
            this.$router.push('/' + lang + route)
            window.scrollTo(0, 0)
        }
    }
}
</script>