@tailwind base;

@tailwind components;

@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Tajawal:400,700&display=swap');
* {
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    font-family: 'Tajawal', sans-serif;
    font-size: 16px;
}
body::-webkit-scrollbar {
    display: none;
}
.transition {
	transition: all .4s ease-in-out;
}
img {
	object-fit: cover;
}
img.black {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%); 
}
.top-left-2 {
    top: 20px;
    left: 20px;
}
.top-left-4 {
    top: 20px;
    left: 80px;
}
.top-right-2 {
    top: 20px;
    right: 20px;
}
.top-right-4 {
    top: 20px;
    right: 80px;
}
.shad {
    box-shadow: 3px 1px 14px rgba(0, 0, 0, 0.15);
}
iframe {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 1px 3px 14px rgba(0,0,0,.15);
}
.leaflet-container .leaflet-control-attribution {
    display: none;
}

.leaflet-tooltip, .leaflet-popup-content {
    text-align: center;
    font-family: 'Tajawal' !important;
    font-weight: bold;
    font-size: 15px;
}

.leaflet-tooltip.leaflet-zoom-animated.leaflet-tooltip-left::before,
.leaflet-tooltip.leaflet-zoom-animated.leaflet-tooltip-right::before {
    visibility: hidden;
}

tspan {
    font-family: 'Tajawal' !important;
    font-weight: bold;
    font-size: 15px;
    display: block;
}

.bg-sideDark .vld-overlay .vld-background {
    background: #071d23 !important;
}

.bg-sideDark .vld-overlay .vld-icon svg {
    fill: #fff !important;
}
